name: "Deploy CloudFormation Stack"
on: 
  push:
    branches:
    - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
  
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: create aws stack bucket 
      run: aws s3api create-bucket --bucket baxi-test-stack123 --region us-east-1

# REFERENCE https://github.com/marketplace/actions/cloudformation-deploy-action
    - uses: mgenteluci/cloudformation-deploy-action@v1.4.1
      env:
        TEMPLATE: 'vpc.yaml'
        AWS_STACK_NAME: baxi-test-stack123
        AWS_REGION: 'us-east-1'
        AWS_ACCESS_KEY_ID: ${{secrets.AWS_ACCESS_KEY_ID}}
        AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY}}
        AWS_DEPLOY_BUCKET: ${{secrets.AWS_DEPLOY_BUCKET}}
        AWS_BUCKET_PREFIX: stacks/vpc
        PARAMETER_OVERRIDES: AliasName=test